meta(name="title", content=`${seo_title}`)
meta(name="description", content=`${seo_description}`)

meta(property="og:type", content="website")
meta(property="og:url", content=`${seo_url}`)
meta(property="og:title", content=`${seo_title}`)
meta(property="og:description", content=`${seo_description}`)
meta(property="og:image", content=`${seo_image}`)

meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:url", content=`${seo_url}`)
meta(property="twitter:title", content=`${seo_title}`)
meta(property="twitter:description", content=`${seo_description}`)
meta(property="twitter:image", content=`${seo_image}`)